
@{
    ViewBag.Title = "Дом разложеный на сантиметры";
}

<div class="page-header">
    <h2>@ViewBag.Title</h2>
</div>
<div class="row">
    <p>
        <p>
            Представьте себе, что человек купил кусок самой дорогой земли в одной из столиц и начал строительство большого дома. Потом объявил, что он продаёт этот дом на стадии строительства по метрам и сантиметрам, и условием для участия является присоединение к его племени.
        </p>
        В этом племени он объявил себя абсолютным монархом, владельцем земли и всего построенного имущества. А для того, чтобы его подданные могли свободно обращать свои метры и сантиметры, они при помощи специальной компьютерной программы, приобретают цифровые коды, соответствующие размеру купленной недвижимости. Практически этот человек создал постоянно генерируемую прибыль, потому что по мере строительства дома, цена на метры и сантиметры всё время растёт. А сам он является гарантом того, что компьютерная программа обеспечит этот обмен.
        <p>
            Представьте себе, что вы — участник и купили себе метр стоимостью 2000 долл., зарегистрировались на сайте, получили ключ доступа, а через некоторое время решили продать. На этом же сайте размещается объявление, стоимость определяет сам владелец, например: «Я продаю свой метр за 3000 долл.» Сама продажа происходит так: вы просто встречаете с покупателем и передаёте ему код за деньги. А программа облагает вас налогом в 5%, беря с вас не деньги, а 5% недвижимости в строящемся объекте.
        </p>
        Дальше этот человек начинает скупать землю рядом, в том же месте, и продолжать строительство уже нового объекта, фактически, имея постоянный генератор доходности. Сам он заинтересован в том, чтобы, прежде всего, работала система, потому что чем больше происходит трансакций между участниками, тем больше у него образуется метров квадратных (каждая трансакция даёт ему прибыль в 5% от стоимости). И эти деньги он опять пускает в оборот, продавая участникам системы. Когда объект достраивается, часть помещений сдаётся в аренду или продаётся как апартаменты потребителям по конечной стоимости. В результате этого цена продолжает возрастать. Так как система замкнутая, и нельзя продать больше метров, чем есть в доме, она становится стабильной и постепенно приобретает своего конечного владельца. А участники программы при окончательном расчёте перейти на следующие объекты. По сути, при помощи такой монархической системы, можно создать прототип страны, в которой ключевым является налог с продаж 5%.
        <p>
            Математически всё настолько просто и открыто, что даже не требуются договора и расписки. Требуется только регистрация на сайте и гарантия абсолютной прозрачности работы системы. Инвестор с небольшими деньгами превращается в члена племени, у которого есть цель, и есть настоящий гарант.
        </p>
        Чем интересна данная система, так это прозрачной концентрацией огромных ресурсов обычных граждан, которые смогут получать доходность на уровне крупных игроков в торговле недвижимостью. Само организованное племя стабилизируется при помощи настоящего владения дорогой недвижимостью на самой дорогой земле. Практически создаётся возможность при помощи интернет-технологий разобрать любой объект на сантиметры.
        <p>
            Уникальность проекта в том, что осуществляется принцип современного бизнеса «маленькое и быстрое», то есть продажа недвижимости, вплоть до сантиметра, происходит в секунды при помощи нажатия клавиш. Если предположить рост этой системы, именно она может послужить прототипом для создания альтернативного общества, и в ней даже могут появиться черты государства в государстве. Но на начальной стадии это будет абсолютная монархия.
        </p>
        Такое успешное племя, организованное при помощи соцсети, торгового сайта (только по работе с недвижимостью) в совокупности с политической партией, может претендовать на общественно-политический тренд нового времени. И самое интересное, что сегодня это уже осуществляется в реальности.
    </p>
</div>
