@{
    ViewBag.Title = "Биржа квадратных сантиметров";
}
<div class="page-header">

</div>
<div class="form-group">
    <div class="col-md-4"><input class="form-control" type="text" placeholder="Ключевые слова: Владелец, Место, Адрес"></div>
    <div class="col-md-4"><input class="form-control" type="text"></div>
    <div class="col-md-4 pull-right"><button class="btn btn-default" type="button">Поиск</button></div>
</div>
<div class="form-group">
    <h3>Топ-недвижимость</h3>
    <div>

    </div>
</div>
