.realtyinvest {
        padding-top: 40px;
}
.footer {
    background-color: black;
    padding-top: 15px;
    padding-bottom: 50px;
    color: white;
}
    .footer a {
        color: #ff6a00;
        text-decoration: none;
    }
    .footer a:hover {
        color: #ffd800;
        text-decoration: none;
    }
    .footer a:visited {
        color: #ffd800;
        text-decoration: none;
    }
    .footer a:focus {
        color: #ffd800;
        text-decoration: none;
    }
    .footer .bold-text {
        font-weight: bold;
    }
    .footer .bold-text {
        font-weight: bold;
    }
    .jumbotron-realtyinvest {
        text-align: center;
        height: 400px;
        padding-right: 60px;
        padding-left: 60px;
        background-image: url("img/maintitle.JPG");
        background-position-y: center;
        background-size:cover;
    }
    .jumbotron-realtyinvest h2 {
            color: #ffffff;
            font-weight: bold;
            text-shadow: 1px 1px 10px #000;
    }
    .realtyinvest-container {
        padding-top: 30px;
    }
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}
.angular-google-map-container { height: 400px; }
textarea .description {
    min-width : 300px;
    min-height: 300px;
}