.realtyinvest {
        padding-top: 40px;
}
.search-box {
        padding-bottom: 15px;
}
.footer {
    background-color: black;
    padding-top: 15px;
    padding-bottom: 50px;
    color: white;
}
    .footer a {
        color: #ff6a00;
        text-decoration: none;
    }
    .footer a:hover {
        color: #ffd800;
        text-decoration: none;
    }
    .footer a:visited {
        color: #ffd800;
        text-decoration: none;
    }
    .footer a:focus {
        color: #ffd800;
        text-decoration: none;
    }
    .footer .bold-text {
        font-weight: bold;
    }
    .footer .bold-text {
        font-weight: bold;
    }

.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}