@using Microsoft.AspNet.Identity

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "nav navbar-nav navbar-right" }))
    {
        @Html.AntiForgeryToken()
        <li class="navbar-link"><a href="@Url.Action("Manage", "Account")">Здравствуйте, @User.Identity.GetUserName()</a></li>
        <li class="navbar-link"><a href="javascript:document.getElementById('logoutForm').submit()">Выйти</a></li>
    }
}
else
{
    <li><a href="#" ng-click="openRegistration()">Регистрация</a></li>
    <li><a href="#" ng-click="openLogin()">Выполнить вход</a></li>
}
